main{
    position: absolute;
    top: 60px;
    left: 200px;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
}

header{
    padding: 15px;
    border-bottom: #023E73 solid 2px;
    display: flex;
    align-items: center;
}

.list-product header{
    justify-content: space-between;
}

header img{
    cursor: pointer;
}

header h1{
    font-size: 35px;
    font-weight: 600;
    color: #023E73;
}

.container-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}

.card{
    color: #023E73;
    display: grid;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

.top-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.top-card h1{
    font-size: 50px;
    font-weight: 600;
    text-align: end;
}

.top-card h4{
    font-weight: 600;
    text-align: end;
}


.top-card img{
    width: 100px;
}

.top-card div{
    display: grid;
}

.bottom-card{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: #023E73;
}

.card1{
    background-color: #3B8DBF;
}
.card2{
    background-color: #00BFB2;
}
.card3{
    background-color: #F0F000;
}
.card4{
    background-color: #FC9390;
}


.container-info-user{
    margin-top: 20px;
}

.table-left, .table-right{
    display: grid;
}

.container-info-user .container-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    color: #023E73;
    font-size: 17px;
}

table{
    border-collapse: collapse;
    color: #023E73;
    
}

tr{
    border-top: #023E73 1px solid;
    text-align: center;
}

td{
    padding: 10px;
    white-space: pre-wrap;
    word-break: break-all;
}

th{
    padding: 8px;
    cursor: pointer;
}

.border-header{
    border: #023E73 2px solid;
}

.bold-table{
    font-weight: 600;
}

.container-list-product{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.container-search{
    display: grid;
    grid-template-columns: 1fr 80px;
    gap: 10px;
}

.container-search input{
    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 2px 10px 0 rgba( 31, 38, 135, 0.27 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    height: 20px;
    gap: 5px;
    padding: 10px; 
    margin-bottom: 10px;
}

button{
    background: rgba( 126, 132, 242, 0.8 );
    box-shadow: 0 2px 10px 0 rgba( 31, 38, 135, 0.27 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;

    padding: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}

header button{
    margin: 0;
}

button:hover{
    background: #023E73;
    color: white;
    cursor: pointer;
}

.pl{
    padding-left: 5px;
}

.cursor{
    cursor: pointer;
}