.container-detail-product{
    color: #023E73;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 20px 15px;
    max-width: 700px;
    width: 60%;
    min-width: 400px;
    margin: 20px auto;
    height: max-content;
    /* margin: auto; */
}

.container-detail-product .oneCol{
    grid-column: 1 / span 2;
    margin: auto;
    border-radius: 10px;
    width: 350px;
}

.error-massage{
    color: rgba( 255, 0, 0, 0.4 ) !important;
    font-weight: 600;
}

.container-detail-product input, .container-detail-product select{
    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 2px 10px 0 rgba( 31, 38, 135, 0.27 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    height: 20px;
    gap: 5px;
    width: auto;
    padding: 10px; 
    margin: 5px 0;
    color: #023E73;
    white-space: pre-wrap;
    word-break: break-all;
}

.container-detail-product textarea{
    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 2px 10px 0 rgba( 31, 38, 135, 0.27 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    gap: 5px;
    padding: 10px; 
    margin-bottom: 10px;
    resize: vertical;
    color: #023E73;
}

.container-detail-product select{
    height: auto;
}

.container-detail-product label{
    font-weight: bold;
    text-align: end;
}

.container-button{
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.oneCol{
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

button{
    background: rgba( 126, 132, 242, 0.8 );
    box-shadow: 0 2px 10px 0 rgba( 31, 38, 135, 0.27 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;

    padding: 10px;
    font-weight: 600;
}

button:hover{
    background: #023E73;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    .container-detail-product select{
        width: 255px;
    }
}